.vs/alibaba/project-colors.json
.vs/alibaba/config/applicationhost.config
.vs/alibaba/DesignTimeBuild/.dtbcache.v2
.vs/alibaba/v17/.futdcache.v1
alibaba/alibaba.csproj.user
alibaba/bin/Debug/net5.0/alibaba.deps.json
alibaba/bin/Debug/net5.0/alibaba.dll
alibaba/bin/Debug/net5.0/alibaba.exe
alibaba/bin/Debug/net5.0/alibaba.pdb
alibaba/bin/Debug/net5.0/alibaba.runtimeconfig.dev.json
alibaba/bin/Debug/net5.0/alibaba.runtimeconfig.json
alibaba/bin/Debug/net5.0/appsettings.Development.json
alibaba/bin/Debug/net5.0/appsettings.json
alibaba/bin/Debug/net5.0/AutoMapper.dll
alibaba/bin/Debug/net5.0/BouncyCastle.Crypto.dll
alibaba/bin/Debug/net5.0/Dapper.dll
alibaba/bin/Debug/net5.0/Google.Protobuf.dll
alibaba/bin/Debug/net5.0/K4os.Compression.LZ4.dll
alibaba/bin/Debug/net5.0/K4os.Compression.LZ4.Streams.dll
alibaba/bin/Debug/net5.0/K4os.Hash.xxHash.dll
alibaba/bin/Debug/net5.0/Microsoft.OpenApi.dll
alibaba/bin/Debug/net5.0/MySql.Data.dll
alibaba/bin/Debug/net5.0/Newtonsoft.Json.Bson.dll
alibaba/bin/Debug/net5.0/Newtonsoft.Json.dll
alibaba/bin/Debug/net5.0/Swashbuckle.AspNetCore.Swagger.dll
alibaba/bin/Debug/net5.0/Swashbuckle.AspNetCore.SwaggerGen.dll
alibaba/bin/Debug/net5.0/Swashbuckle.AspNetCore.SwaggerUI.dll
alibaba/bin/Debug/net5.0/System.Configuration.ConfigurationManager.dll
alibaba/bin/Debug/net5.0/System.Net.Http.Formatting.dll
alibaba/bin/Debug/net5.0/System.Security.Cryptography.ProtectedData.dll
alibaba/bin/Debug/net5.0/System.Web.Http.dll
alibaba/bin/Debug/net5.0/System.Web.Http.WebHost.dll
alibaba/bin/Debug/net5.0/Ubiety.Dns.Core.dll
alibaba/bin/Debug/net5.0/ZstdNet.dll
alibaba/bin/Debug/net5.0/ref/alibaba.dll
alibaba/bin/Debug/net5.0/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
alibaba/bin/Release/net5.0/alibaba.deps.json
alibaba/bin/Release/net5.0/alibaba.dll
alibaba/bin/Release/net5.0/alibaba.exe
alibaba/bin/Release/net5.0/alibaba.pdb
alibaba/bin/Release/net5.0/alibaba.runtimeconfig.dev.json
alibaba/bin/Release/net5.0/alibaba.runtimeconfig.json
alibaba/bin/Release/net5.0/appsettings.Development.json
alibaba/bin/Release/net5.0/appsettings.json
alibaba/bin/Release/net5.0/AutoMapper.dll
alibaba/bin/Release/net5.0/BouncyCastle.Crypto.dll
alibaba/bin/Release/net5.0/Dapper.dll
alibaba/bin/Release/net5.0/Google.Protobuf.dll
alibaba/bin/Release/net5.0/K4os.Compression.LZ4.dll
alibaba/bin/Release/net5.0/K4os.Compression.LZ4.Streams.dll
alibaba/bin/Release/net5.0/K4os.Hash.xxHash.dll
alibaba/bin/Release/net5.0/Microsoft.OpenApi.dll
alibaba/bin/Release/net5.0/MySql.Data.dll
alibaba/bin/Release/net5.0/Newtonsoft.Json.Bson.dll
alibaba/bin/Release/net5.0/Newtonsoft.Json.dll
alibaba/bin/Release/net5.0/Swashbuckle.AspNetCore.Swagger.dll
alibaba/bin/Release/net5.0/Swashbuckle.AspNetCore.SwaggerGen.dll
alibaba/bin/Release/net5.0/Swashbuckle.AspNetCore.SwaggerUI.dll
alibaba/bin/Release/net5.0/System.Configuration.ConfigurationManager.dll
alibaba/bin/Release/net5.0/System.Net.Http.Formatting.dll
alibaba/bin/Release/net5.0/System.Security.Cryptography.ProtectedData.dll
alibaba/bin/Release/net5.0/System.Web.Http.dll
alibaba/bin/Release/net5.0/System.Web.Http.WebHost.dll
alibaba/bin/Release/net5.0/Ubiety.Dns.Core.dll
alibaba/bin/Release/net5.0/ZstdNet.dll
alibaba/bin/Release/net5.0/ref/alibaba.dll
alibaba/bin/Release/net5.0/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
alibaba/obj/Debug/net5.0/alibaba.csproj.CopyComplete
alibaba/obj/Debug/net5.0/alibaba.csproj.CoreCompileInputs.cache
alibaba/obj/Debug/net5.0/alibaba.csproj.FileListAbsolute.txt
alibaba/obj/Debug/net5.0/alibaba.dll
alibaba/obj/Debug/net5.0/alibaba.genruntimeconfig.cache
alibaba/obj/Debug/net5.0/alibaba.MvcApplicationPartsAssemblyInfo.cache
alibaba/obj/Debug/net5.0/alibaba.MvcApplicationPartsAssemblyInfo.cs
alibaba/obj/Debug/net5.0/alibaba.pdb
alibaba/obj/Debug/net5.0/alibaba.RazorTargetAssemblyInfo.cache
alibaba/obj/Debug/net5.0/apphost.exe
alibaba/obj/Debug/net5.0/ref/alibaba.dll
alibaba/obj/Debug/net5.0/staticwebassets/alibaba.StaticWebAssets.Manifest.cache
alibaba/obj/Release/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
alibaba/obj/Release/net5.0/alibaba.AssemblyInfo.cs
alibaba/obj/Release/net5.0/alibaba.AssemblyInfoInputs.cache
alibaba/obj/Release/net5.0/alibaba.assets.cache
alibaba/obj/Release/net5.0/alibaba.csproj.AssemblyReference.cache
alibaba/obj/Release/net5.0/alibaba.csproj.CopyComplete
alibaba/obj/Release/net5.0/alibaba.csproj.CoreCompileInputs.cache
alibaba/obj/Release/net5.0/alibaba.csproj.FileListAbsolute.txt
alibaba/obj/Release/net5.0/alibaba.dll
alibaba/obj/Release/net5.0/alibaba.GeneratedMSBuildEditorConfig.editorconfig
alibaba/obj/Release/net5.0/alibaba.genruntimeconfig.cache
alibaba/obj/Release/net5.0/alibaba.MvcApplicationPartsAssemblyInfo.cache
alibaba/obj/Release/net5.0/alibaba.MvcApplicationPartsAssemblyInfo.cs
alibaba/obj/Release/net5.0/alibaba.pdb
alibaba/obj/Release/net5.0/alibaba.RazorTargetAssemblyInfo.cache
alibaba/obj/Release/net5.0/apphost.exe
alibaba/obj/Release/net5.0/PublishOutputs.d42e0667bd.txt
alibaba/obj/Release/net5.0/PubTmp/alibaba.Parameters.xml
alibaba/obj/Release/net5.0/PubTmp/alibaba.SourceManifest.xml
alibaba/obj/Release/net5.0/PubTmp/Out/alibaba.deps.json
alibaba/obj/Release/net5.0/PubTmp/Out/alibaba.dll
alibaba/obj/Release/net5.0/PubTmp/Out/alibaba.exe
alibaba/obj/Release/net5.0/PubTmp/Out/alibaba.pdb
alibaba/obj/Release/net5.0/PubTmp/Out/alibaba.runtimeconfig.json
alibaba/obj/Release/net5.0/PubTmp/Out/appsettings.Development.json
alibaba/obj/Release/net5.0/PubTmp/Out/appsettings.json
alibaba/obj/Release/net5.0/PubTmp/Out/AutoMapper.dll
alibaba/obj/Release/net5.0/PubTmp/Out/BouncyCastle.Crypto.dll
alibaba/obj/Release/net5.0/PubTmp/Out/Dapper.dll
alibaba/obj/Release/net5.0/PubTmp/Out/Google.Protobuf.dll
alibaba/obj/Release/net5.0/PubTmp/Out/K4os.Compression.LZ4.dll
alibaba/obj/Release/net5.0/PubTmp/Out/K4os.Compression.LZ4.Streams.dll
alibaba/obj/Release/net5.0/PubTmp/Out/K4os.Hash.xxHash.dll
alibaba/obj/Release/net5.0/PubTmp/Out/Microsoft.OpenApi.dll
alibaba/obj/Release/net5.0/PubTmp/Out/MySql.Data.dll
alibaba/obj/Release/net5.0/PubTmp/Out/Newtonsoft.Json.Bson.dll
alibaba/obj/Release/net5.0/PubTmp/Out/Newtonsoft.Json.dll
alibaba/obj/Release/net5.0/PubTmp/Out/Swashbuckle.AspNetCore.Swagger.dll
alibaba/obj/Release/net5.0/PubTmp/Out/Swashbuckle.AspNetCore.SwaggerGen.dll
alibaba/obj/Release/net5.0/PubTmp/Out/Swashbuckle.AspNetCore.SwaggerUI.dll
alibaba/obj/Release/net5.0/PubTmp/Out/System.Configuration.ConfigurationManager.dll
alibaba/obj/Release/net5.0/PubTmp/Out/System.Net.Http.Formatting.dll
alibaba/obj/Release/net5.0/PubTmp/Out/System.Security.Cryptography.ProtectedData.dll
alibaba/obj/Release/net5.0/PubTmp/Out/System.Web.Http.dll
alibaba/obj/Release/net5.0/PubTmp/Out/System.Web.Http.WebHost.dll
alibaba/obj/Release/net5.0/PubTmp/Out/Ubiety.Dns.Core.dll
alibaba/obj/Release/net5.0/PubTmp/Out/web.config
alibaba/obj/Release/net5.0/PubTmp/Out/ZstdNet.dll
alibaba/obj/Release/net5.0/PubTmp/Out/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
alibaba/obj/Release/net5.0/ref/alibaba.dll
alibaba/obj/Release/net5.0/staticwebassets/alibaba.StaticWebAssets.Manifest.cache
alibaba/Properties/PublishProfiles/alibaba-connect - Web Deploy.pubxml
alibaba/Properties/PublishProfiles/alibaba-connect - Web Deploy.pubxml.user
alibaba/Properties/ServiceDependencies/alibaba-connect - Web Deploy/profile.arm.json
.vs/alibaba/v17/.suo
alibaba/obj/alibaba.csproj.nuget.dgspec.json
alibaba/obj/alibaba.csproj.nuget.g.props
alibaba/obj/alibaba.csproj.nuget.g.targets
alibaba/obj/project.assets.json
alibaba/obj/project.nuget.cache
alibaba/obj/Debug/net5.0/alibaba.assets.cache
alibaba/obj/Debug/net5.0/alibaba.csproj.AssemblyReference.cache
alibaba/obj/Debug/net5.0/alibaba.GeneratedMSBuildEditorConfig.editorconfig
